{% extends 'base.html.twig' %}

{% block body %}
    <section id="patologies">
        <div class="container">
            <div class="row">
                <!--Bullying-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <!--http://localhost:8080/data/web-aina-1/patologies#bullying-->
                                <h5 id="bullying" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Bullying</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/bullying-test.jpg') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Maltractament físic, psicològic o emocional entre nens i nenes en edat escolar.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Burnout-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Burnout</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/burnout.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">També conegut com a "Síndrome d'esgotament professional". Patiment derivat d'una situació d'estrès físic o emocional perllongat a nivell laboral.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Creixement personal-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Creixement personal</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/creixement_personal.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Procés d’autoconeixement per tal de desenvolupar estratègies amb l’objectiu de millorar la qualitat de vida, adaptar-se als canvis o assolir noves metes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <!--Dèficit d'atenció-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Dèficit d'atenció <br> (TDA - TDAH)</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/tda.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Dificultats en la gestió de l’atenció, que poden o no generar problemes d'hiperactivitat. Acostumen a influir en el rendiment acadèmic.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Depressió adults i gent gran-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Depressió <br> adults i gent gran</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/depresio_1.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Estat d’ànim, transitori o permanent, caracteritzat per tristor, manca de motivació i dificultats per gaudir. Pot anar acompanyada d’ansietat.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Depressió infanto-juvenil-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Depressió <br> infanto-juvenil</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/depresio_inf_1.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Afectació emocional que provoca disfuncions en diversos àmbits del nen o nena amb influència en les seves activitats i relacions habituals.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <!--Dificultats d'aprenentatge-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="dificultats_apr" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Dificultats <br> d'aprenentatge</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/dificultats_apren.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Falta d’habilitats o recursos en el desenvolupament d’alguna àrea que provoca problemes en el rendiment acadèmic.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Dificultats sensorials-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="dificultats_sens" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Dificultats sensorials</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/dificultats_sens.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Pèrdua o reducció de la percepció sensorial que pot generar dificultats a nivell cognitiu o emocional.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Dislèxies-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="dislexies" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Dislèxies</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex card-img mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/dislexia.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Disfunció en el procés d’aprenentatge de la lecto-escriptura.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <!--Estrès-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="estres" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Estrès</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/estrés.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Incapacitat de reduir l’estat d’alerta per una reacció excessiva del cos o la ment davant d'estímuls que percebem com a nocius.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Hiperactivitat-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="hiperactivitat" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Hiperactivitat</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/hiperactivitat.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Dificultats en el control d’impulsos, especialment els relacionats amb el moviment.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Lesions cerebrals-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h6 id="les_cerebrals" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Lesions cerebrals<br>traumàtiques i no traumàtiques</span>
                                </h6>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/les_cerebral.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Afectació neurològica congènita o sobrevinguda que comporta problemes de desenvolupament o afectació en la vida quotidiana de la persona</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <!--Malalties neurodegeneratives-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <!--http://localhost:8080/data/web-aina-1/patologies#bullying-->
                                <h5 id="mal_neurodegeneratives" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Malalties <br> neurodegeneratives</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/neurodegeneratives.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Reducció de capacitats esdevinguda per una pèrdua significativa de funcions neuronals.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Moving-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="moving" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Moving</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/moving.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Problemes de relació en entorns laborals.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Preparació al part-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="prep_part" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Preparació <br> al part</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/preparacio_part.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Acompanyament de l'embaràs, preparació al part i atenció post-part.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <!--Problemes de parella-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="parella" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Problemes de parella</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/separacio.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Dificultats en les relacions entre els integrants d'una relació íntima.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Problemes relacionals-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="prob_relacionals" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Problemes relacionals</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/problemes_relacionals.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Dificultats en la gestió de les habilitats socials.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Recolzament adopció -->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="adopcio" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Recolzament en <br> el procés d'adopció</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/adopcions.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Guia i suport de les noves relacions familiars.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <!--Situacions de dol-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="dol" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Situacions de dol</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/dol.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Situació generada per una pèrdua molt significativa emocional, material, física o de qualsevol altre tipus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TGD-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="tgd" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Trastorn generalitzat <br> del desenvolupament (TGD)</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/tgd.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Problemes en el desenvolupament cerebral que produeixen afectacions en l’adquisició de qualsevol tipus d’habilitat o aprenentatge.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TOC-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="toc" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Trastorn obsessiu-<br>compulsiu (TOC)</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/toc.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Trastorn caracteritzat per pensaments recurrents i persistents que provoquen una ansietat que només s’aconsegueix disminuir a través de conductes repetitives que no es poden evitar.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <!--Trastorns d'ansietat-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="ansietat" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Trastorns<br>d'ansietat</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/ansietat.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Experimentació recurrent de sentiments d'angoixa i por davant de situacions que no les justifiquen, amb manifestacions físiques o psicològiques.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Trastorns de conducta-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="ansietat" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Trastorns de<br>conducta</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/conducta.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Forma persistent i reiterada de comportament dissocial, agressiu o retador.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Trastorns del llenguatge i/o parla-->
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="tras_llenguatge" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Trastorns del<br>llenguatge i/o parla</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/trastorn_parla.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Dificultats en el desenvolupament, comprensió o producció del llenguatge tant escrit com oral.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <!--Trastorns emocionals-->
                <div class="col-md-4 offset-md-4">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-3 d-flex ml-auto rounded">
                                <h5 id="tras_emocionals" class="section-heading mb-0">
                                    <!--<span class="section-heading-upper">Blended to Perfection</span>-->
                                    <span class="section-heading-lower">Trastorns emocionals</span>
                                </h5>
                            </div>
                        </div>
                        <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/emocionals.bmp') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-3 rounded">
                                <p class="mb-0">Dificultats en la correcta identificació i gestió de les emocions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}