<div class="patologies-slider">
    {% for id, patologia in patologies %}
        <div class="product-item" id="{{ id }}">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-3 d-flex ml-auto rounded">
                    <h5 class="section-heading mb-0 product-item-header">
                        <span class="section-heading-lower text-center">{{ patologia.title|nl2br }}</span>
                    </h5>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/' ~ patologia.img) }}" alt="{{ patologia.title }}">
            <div class="product-item-description d-flex mr-auto">
                <div class="bg-faded-description p-3 rounded product-item-content">
                    <span class="text-center">{{ patologia.body }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>