<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-transparent" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ path('index') }}">PSIMUVA</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('index') }}#services">Com treballem?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('index') }}#que-tractem">Què tractem?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('index') }}#team">L'equip</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('index') }}#contact">Contacta'ns</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
